/*
* @Author: 心梦
* @Date:   2018-04-24 10:24:29
* @Last Modified by:   心梦
* @Last Modified time: 2018-04-28 17:00:00
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.daohang{
	width: 100%;
	height: 40px;
	background: #333333;
}
.dh{
	width: 1225px;
	height: 40px;
	margin: 0 auto;
}
.zuo{
	width: 60%;
	height: 40px;
	float: left;
	display: inline;
	
}
.you{ 
	width: 40%;
	height: 40px;
	float: left;
}

.List{
	margin-right: 18px;
	border-right: 2px solid #424242;
	padding-right: 16px;
	font-size: 12px;
	margin-top: 12px;
	text-decoration: none;
	color: #b0b0b0;
	float: left;
}
.List:hover{
	color: #fafafa;
}
.list{
	border-right: 0;
}
.youy{
	width: 120px;
	height: 40px;
	float: right;
	background: #424242;
	text-align: center;
}
.youz{
	float: right;
}
#gouwuche{
	font-size: 20px;
}
.list1{
	text-decoration: none;
	color: #b0b0b0;
	line-height: 40px;
	
}
.logo{
	width: 1225px;
	height: 100px;
	background: #ffffff;
	margin: 0 auto;
}
.logo_mi{
	width: 55px;
	height: 55px;
	float: left;
	margin-top: 22px;
}
.input{
	width: 297px;
	height: 50px;
	margin-top: 25px;
	background: red;
	float: right;
}
.input input{
	width: 233px;
	height: 48px;
	padding: 0 10px;
	border: 1px solid #E0E0E0;

}
.input button{
	width: 38px;
	height: 46px;
	padding: 1px 6px;
	border:1px solid #E0E0E0 ;
	float: right;
}
.caidan{
	margin-right: 20px;
	font-size: 14px;
	margin-top: 44px;
	text-decoration: none;
	color: #333333;
	float: left;
}
.caidan:hover{
	color:red;
}
.title{
	width: 600px;
	height: 100px;
	float: left;
	margin-left: 190px;
}
.zifu{
	width: 1225px;
	height: 60px;
	background: ffffff;
	margin: 0 auto;
	line-height: 60px;

}
.font_zi{
	font-size: 20px;
}
.danpin{
	width: 1226px;
	height: 342px;
	margin: 0 auto;
}
.liebiao{
	width: 234px;
	height: 339px;
	background: #fafafa;
	float:left;
	margin: 0 14px 14px 0;
	text-align: center;

}
.danpin div:nth-child(5){
	margin-right: 0;
}
.danpin div:nth-child(1){
	border-top: 1px solid  #E53935;
}
.danpin div:nth-child(2){
	border-top: 1px solid  #FFAC13;
}
.danpin div:nth-child(3){
	border-top: 1px solid  #83C44E;
}
.danpin div:nth-child(4){
	border-top: 1px solid  #2196F3;
}
.danpin div:nth-child(5){
	border-top: 1px solid  #E53935;
}

.shouji{
	display: block;
	width: 160px;
	height: 160px;
	margin: 20px auto;

}
.shouji img{
	width: : 160px;
	height: 160px;
}
.ziti{
	text-decoration: none;
	font-size: 14px;
	color: black;
}
.liebiao span:nth-child(4){
	font-size: 12px;
	color: #ADADAD;
	
}
.liebiao span:nth-child(7){
	color: red;
	
}
.jiadian{
	width: 100%;
	height: 4800px;
	background: #F5F5F5;
	margin-top: 40px;
	
}

.box{
	width: 1226px;
	height: 58px;
	margin: 0 auto;
	
}
.box_first{
	margin-top: 60px;
}
.title_1{
	font-weight: normal;
	float: left;
	line-height: 58px;
}
.list_style{
	width: 400px;
	height: 26px;
	float: right;
	margin-top: 16px;
	
	
}

.li_style{
	float: right;
	margin-left: 30px;
	border-bottom: 2px solid  transparent;

}
.li_style:hover{
	cursor:pointer;
	color:#FF6700;
	border-bottom: 2px solid  #FF6700;
}
.da{
	width: 1225px;
	height: 672px;
	margin: 0 auto;

}
.jd_list{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	margin-bottom: 14px;
}
.jd_1 img{
	width: 234px;
	height: 614px;
	float: left;

}
.jd_2{
	width: 240px;
	height: 300px;
	float: left;
}
.jd_2 img{
	width: 240px;
	height: 300px;
	

}
.public_style{
	width: 234px;
	height: 300px;
	background: #FFFFFF;
	float:left;
	margin: 0 0 14px 14px ;
	text-align: center;
	position: relative;
}
.public_style img{
	width: 150px;
	height: 150px;
}
.public_zt1{
	text-decoration: none;
	font-size: 14px;
	color: black;
}
.public_zt2{
	font-size: 12px;
	color: #B0B0B0;
}
.public_zt3{
	font-size: 14px;
	color: red;
}
.public_zt4{
	font-size: 14px;
	color: #B0B0B0;
	text-decoration:line-through;
}

.public_y1{
	
	width: 94px;
	height: 20px;
	text-decoration: none;
	font-size: 14px;
	color: black;

}
.public_y2{
	width: 94px;
	height: 20px;
	text-decoration: none;
	font-size: 14px;
	color: red;
}
.public_y3{
	font-size: 18px;
	display: block;
	color: black;
	text-decoration: none;
}

.you1{
	width:234px;
	height: 143px;
	float:left;
	margin: 0 0 14px 14px ;
	background: #FFFFFF;

}
.public_img{
	display: block;
	width: 80px;
	height: 80px;
	background: red;
}
.public_img img{
	width: 80px;
	height: 80px;
	
	float: right;

}
.green{
	width: 64px;
	height: 20px;
	background: #83C44E;
	margin: 0 auto ;
	color: #FFFFFF;
	position: absolute;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
}
.red{
	width: 64px;
	height: 20px;
	background: #E53935;
	margin: 0 auto ;
	color: #FFFFFF;
	position: absolute;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
}
.gr_zt{
	color: #FFFFFF;

}
.you_zuo{
	width: 94px;
	height: 47px;
	float: left;
	margin: 50px  0  0 30px;
}
.you_you{
	width: 80px;
	height: 80px;
	float: right;
	margin: 33px 20px 0 0;
}
.box_img{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 14px;

}
.box_a img{
	width: 1226px;
	height: 460px;
}
.box_cd{
	width: 240px;
	height: 460px;
	background:rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
}
.box_cd li{
	width: 240px;
	height: 42px;
	line-height: 42px;
}
.box_cd li:first-child{
	margin-top: 20px;
}

.box_cd li:hover{
	background: #FF6700;
}
.box_cd li a{
		text-decoration:none ;
}
.style_h3{
	color: #B3B9B9;
	font-weight: normal;
	margin-right: 20px;
	float: right;
}
.style_h4{
	color: #ffffff;
	margin-left: 20px;
	float: left;
}
.yuan{
	width: 400px;
	height: 20px;
	background: transparent;
	position: absolute;
	right: 30px;
	bottom: 20px;

}
.yuan li{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	float: right;
	border :2px   solid  red;
	margin:7px 5px;

}
.qiehuan_y{
	width: 41px;
	height: 67px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	font-size: 20px;
	text-align: center;
	line-height: 67px;
	color: #D3D3D4;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	
}
.qiehuan_z{
	width: 41px;
	height: 67px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 240px;
	font-size: 20px;
	text-align: center;
	line-height: 67px;
	color: #D3D3D4;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	
}
.qiehuan_z:hover{
	background:rgba(0,0,0,0.3);
	color: #ffffff;
	cursor:pointer; 
}
.qiehuan_y:hover{
	background:rgba(0,0,0,0.3);
	color: #ffffff;
	cursor:pointer; 
}

.hot_box{
	width: 1226px;
	height: 487px;
	margin: 0 auto;
	
}
.box_rp{
	width: 296px;
	height: 415px;
	float: left;
	background: #ffffff;
	margin: 0 14px  14px 0;
}
.hot_box div:nth-child(5){
	margin-right: 0;
}
.box_rp img{
	width: 296px;
	height: 220px;
}
.pub_zi{
	font-size: 16px;
	color: black;
	text-decoration: none;
	}
.pub_zi p{
	width: 240px;
	height: 96px;
	margin: 0 auto;
	margin-top: 28px;
	
}
.pub_p{
	width: 240px;
	margin: 0 auto;
	height: 18px;
	color: #B0B0B0;
}
.pub_bot{
	width: 240px;
	height: 25.333px;
	margin: 0 auto;
	margin-top: 10px;
}
.shuxian{
	border-right: 2px solid #E4E0E4;
	padding-right: 10px;
}
.jg{
	padding-left: 8px;
}
.neirong{
	width: 1226px;
	height: 478px;
	margin: 0 auto;

}
.nr_list{
	width: 296px;
	height: 419px;
	background: #ffffff;
	float:left;
	text-align: center;
	margin: 0 14px 14px 0;
	position: relative;
	transition: all 0.5s;
}
.nr_list:hover{
	box-shadow: 0px 10px  20px 5px rgba(0, 0, 0,0.05);
	transform: translateY(-2px);

}
.nr_list a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	
}

.neirong div:nth-child(2){
	border-top: 1px solid  #FFAC13;
}
.neirong div:nth-child(3){
	border-top: 1px solid  #83C44E;
}
.neirong div:nth-child(4){
	border-top: 1px solid  #E53935;
}
.neirong div:nth-child(5){
	margin-right: 0;
	border-top: 1px solid  #2196F3;
}
.nr_p{
	width: 100%;
	height: 24px;
	font-size: 20px;
	padding-top: 45px;
	color: #FFAC13;
	padding-bottom: 15px;
}
.hui{
	width: 192px;
	height: 58px;
	margin: 0 auto;
	

}
.ziti_hou{

	width: 192px;
	height: 58px;
	margin: 0 auto;
	font-size: 14px;
	color: #C1B7CB;
	padding-top: 5px;
}
.jiage p{
	color: black;
	padding-top: 10px;
}
.nrpic img{
	width: 216px;
	height: 154px;
	padding-top: 10px;
}
.nrbtn{
	width: 120px;
	height: 30px;
	background: transparent;
	position: absolute;
	right: 90px;
	
}
.nrbtn li{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	float: right;
	border :2px   solid  red;
	margin:7px 15px;

}
.qh_you{
	width: 20px;
	height: 48px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	font-size: 20px;
	text-align: center;
	line-height: 48px;
	color: #ffffff;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	background:rgba(0,0,0,0.1);
	display: none;
	transition: all 0.5s;
	
}
.qh_zuo{
	width: 20px;
	height: 48px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0px;
	font-size: 20px;
	text-align: center;
	line-height: 48px;
	color: #FFFFFF;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	background:rgba(0,0,0,0.1);
	display: none;
	transition: all 0.5s;
}
.qh_zuo:hover{
	background:rgba(0,0,0,0.3);
	color: #ffffff;
	cursor:pointer; 
}
.qh_you:hover{
	background:rgba(0,0,0,0.3);
	color: #ffffff;
	cursor:pointer; 
}

.nr_list:hover .qh_you{
	display: block;
} 
.nr_list:hover .qh_zuo{
	display: block;
} 
.video_box{
	width: 1226px;
	height: 316px;
	margin: 0 auto;
	margin-top: 14px;

}
.video{
	width: 296px;
	height: 285px;
	margin-bottom: 14px;
	margin-right: 14px;
	float: left;
	background: #fff;
	text-align: center;
}
.video_box div:last-child{
	margin-right: 0;
} 
.video img{
	width: 296px;
	height: 180px;
	padding-bottom: 15px;

}
.ziti_jj{
	margin-top: 10px;
}

.pic_box{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	

}
.cd_pic img{
	width: 314px;
	height: 170px;
	
}
.cd_box{
	width: 240px;
	height: 170px;
	background: #5F5750;
	float: left;
}
.cd_pic{
	width: 314px;
	height: 170px;
	margin-left: 14px;
	float: left;
}
.cd_list{
	width: 76px;
	height: 100%;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}
.cd_box div:nth-child(2){
	margin-left: 0;
	margin-right: 0;
	border-left:1px solid #665E57;
	border-right:1px solid #665E57;

}
.zt_color{
	color: #CDCAC8;
	
}
#tubiao{
	font-size: 25px;
	
}
.weizhi{
	padding-top: 18px;
}
.public_zt1 p:nth-child(2){
	padding-bottom: 10px;

}
.bottom{
	width: 100%;
	height: 272px;
	background: #fff;

}
.bot_top{
	width: 1226px;
	height: 80px;
	
	border-bottom: 1px solid #E0E0E0;
	margin: 0 auto;
}
.bot_list{
	width: 1226px;
	height: 80px;
	
}
.bot_list li{
	width: 242.729px;
	height: 25px;
	text-align: center;
	border-right: 2px solid #E0E0E0;
	margin-top: 27.5px;
	font-size: 14px;
	text-decoration: none;
	color: #616192;
	float: left;
}
#bot_tubiaoti{
	font-size: 25px;
}
.pinglun{
	width: 100%;
	height: 64px;

}